<nav class="navbar navbar-light bg-light min-vh-100 shadow d-block">
  <ul class="navbar-nav text-center font-size-30">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/search" routerLinkActive="active"><i class="fa fa-search" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/charts" routerLinkActive="active"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>